<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Enter Booking Date Available</h4>
				<h5 class="card-subtitle">create new available date below</h5>
				<form [formGroup]="formGroup" autocomplete="off" class="form p-t-20" (ngSubmit)="createBooking()">
					<div class="form-group">
						<label>Location Id *</label>
						<select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="locationId"
							(change)="selectLocationId($event)" required>
							<option selected>Choose...</option>
							<option [ngValue]="e.id" *ngFor="let e of locations">{{ e.name }}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="exampleInputUserId1">Available Date Id*</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon22"><i class="ti-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Date Available" aria-label="Date Available"
								aria-describedby="basic-addon22" formControlName="availableDateId" required>
						</div>
					</div>

					<div class="form-group">
						<label>Test Type *</label>
							<select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="testType" required>
								<option selected>Choose...</option>
								<option value="1">PCR</option>
								<option value="2">RapidTest</option>
							</select>
					</div>

					<div class="form-group">
						<label for="exampleInputUserId1">User Id *</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon22"><i class="ti-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="User Id" aria-label="User Id"
								aria-describedby="basic-addon22" formControlName="applicationUserId" required>
						</div>
					</div>
					<button [disabled]="!formGroup.valid" type="submit" class="btn btn-success m-r-10">Submit</button>
					<button onclick="{resetForm}" type="submit" class="btn btn-dark">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>