<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Enter location details</h4>
				<h5 class="card-subtitle">create new location below</h5>
				<form  [formGroup]="formGroup" autocomplete="off" class="form p-t-20"  (ngSubmit)="createLocation()">
					<div class="form-group">
						<label>Location Name *</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon11"><i class="ti-location"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Location Name" aria-label="Location Name" aria-describedby="basic-addon11" formControlName="name" required>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputDescription1">Description (optional)</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon22"><i class="ti-description"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Description" aria-label="Description" aria-describedby="basic-addon22" formControlName="description">
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputDescription1">User Id</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon22"><i class="ti-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="User Id" aria-label="User Id" aria-describedby="basic-addon22" formControlName="applicationUserId" required>
						</div>
					</div>
					<button [disabled]="!formGroup.valid" type="submit" class="btn btn-success m-r-10">Submit</button>
					<button onclick="{resetForm}" type="submit" class="btn btn-dark">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>