<div class="row">
	<div class="col-lg-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Enter user details</h4>
				<h5 class="card-subtitle">create new user below</h5>
				<form [formGroup]="formGroup" autocomplete="off" class="form p-t-20" (ngSubmit)="createUser()">
					<div class="form-group">
						<label>User Name *</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon11"><i class="ti-user"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon11" formControlName="userName" required>
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address *</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon22"><i class="ti-email"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="basic-addon22" formControlName="email" required>
						</div>
					</div>
					<div class="form-group">
						<label>Password</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon33"><i class="ti-lock"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon33" formControlName="password" required>
						</div>
					</div>
					<div class="form-group">
						<label>Confirm Password *</label>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon4"><i class="ti-lock"></i></span>
							</div>
							<input type="text" class="form-control" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon4">
						</div>
					</div>
					<div class="form-group">
						<label>User Type *</label>
							<select class="custom-select col-12" id="inlineFormCustomSelect" formControlName="userRole" required>
								<option selected>Choose...</option>
								<option value="0">Administrator</option>
								<option value="1">Individual</option>
								<option value="2">LabAdministrator</option>
							</select>
					</div>
					<button [disabled]="!formGroup.valid" type="submit" class="btn btn-success m-r-10">Submit</button>
					<button onclick="{resetForm}" type="submit" class="btn btn-dark">Cancel</button>
				</form>
			</div>
		</div>
	</div>
</div>